<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/index.css">
  <title>Vanilla</title>
</head>
<body>

  <h1 id="header">
    Vanilla ChatBot
  </h1>

  <h3 id="tagline">
    A next-gen Bot at your service
  </h3>

  <div id="text">
    He Can
  </div>

  <div>
    <form action="/login" method="get">
      <input type="submit" class="btns" value="Login">
    </form>

    <form action="/login" method="get">
      <input type="submit" class="btns" value="Sign up">
    </form>

  </div>

</body>
</html>
