<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,600,600i" rel="stylesheet">
  <link rel="stylesheet" href="/styles/index.css">
  <title>Vanilla</title>
</head>
<body>

  <h1 id="header">
    Vanilla ChatBot
  </h1>

  <h3 id="tagline">
    A next-gen Bot at your service!
  </h3>


  <!-- Type writing effect -->
  <div id="text">
    He Can
    <span class="typewrite" data-period="2000" data-type='[ "tell you a joke.", "get you weather information.", "get you information about any place.", "tell you motivational quotes.", "get you latest news.", "search for anything." ]'>
    <span class="wrap"></span>
  </a>
  </div>

  <div>
      <input type="submit" class="btns" id="loginBtn" value="Login">

      <input type="submit" class="btns" id="signupBtn" value="Sign up">
  </div>

    <div class="formContainer" id="login">
      <H1>Login</H1>
      <form action="/login" method="post" class="form" autocomplete="off">
          <input class="input" type="text" name="username" placeholder="Username">
          <input class="input" type="password" name="password" placeholder="Password">
          <input type="submit" id="submitBtn" class="btn btn-primary">
      </form>
    </div>

    <div class="formContainer" id="signup">
      <H1>Sign up</H1>
      <form action="/signup" method="post" class="form" autocomplete="off">
          <input class="input" type="text" name="username" placeholder="Username">
          <input class="input" type="password" name="password" placeholder="Password">
          <input type="submit" id="submitBtn" class="btn btn-primary">
      </form>
    </div>

    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
  <script src="/scripts/LandingPage.js" charset="utf-8"></script>
  <script src="/scripts/typeWritingEffect.js" charset="utf-8"></script>
</body>
</html>
